[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = False
timeout = 5
forks = 100
gathering = explicit
stdout_callback = yaml
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 5
command_timeout = 10